// colors
$body-color:                  #f9f9f9 !default;
$brand-primary:               #4d394b !default;
$brand-secondary:             #ab9ba9 !default;
$brand-highlight:             #3e313c !default;

// animation
$opacity-fade-in:             0.9 !default;
$transition-fade-in:          0.4s !default;

// spacing
$spacer:                      -40px !default;
$photo-grid-gutter:           6px !default;
$photo-grid-col-lg:           6 !default;
$photo-grid-col-md:           5 !default;
$photo-grid-col-sm:           4 !default;
$photo-grid-col-xs:           3 !default;
$footer-menu-height:          60px !default;

// z-index master list
$zindex-lightbox:             10000 !default;
$zindex-lightbox-btns:        10010 !default;