@charset "utf-8";

@import "base/normalize";

.photo {
  border: 1px solid #000066;
  padding: 20px;
  width: (100%/3);
  float: left;
  cursor: pointer;

  &:first-child {
    border-right: 0;
  }

  &:last-child {
    border-left: 0;
  }
}